* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; /* 100% height of the window */
  font-family: "Poppins", sans-serif;
}

.cookie-container {
  background: linear-gradient(260deg, #9b6c50, #4f2626);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1.2rem;
  padding: 1rem;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 10rem;
  display: flex;
  align-items: center;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  -ms-border-radius: 1.2rem;
  -o-border-radius: 1.2rem;
}

.cookie {
  padding-right: 1.5rem;
  overflow: visible;
}

.cookie-text {
  width: 69%;
}

.cookie-title {
  font-weight: 200;
  font-size: 1.2rem;
}

.cookie-subtitle {
  font-size: 0.6rem;
  font-weight: 400;
  margin: 0.2rem 0;
}

button {
  background: #fff;
  color: #4f2626;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  margin-top: 0.5rem;
  -o-border-radius: 0.3rem;
}
